# Gemini API Key (Provided by platform)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# OpenWeather API Key
VITE_OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY

# App URL (for callbacks)
# Use the App URL from the runtime context (e.g., https://ais-dev-....run.app)
APP_URL=https://your-app-url.example.com
#https://ais-dev-nvby45z4vqmw5v4mhj64qd-184109094443.europe-west2.run.app

# Safaricom Daraja API
MPESA_CONSUMER_KEY=7TGG6CYQWlWULvk9XYES2UMGLOLxmhAto2tINvV5ICY056jP
MPESA_CONSUMER_SECRET=mHoVFAviw1C4ZHozjzDQySs9J4jUogZJalPb2OhI9ynl4eZ6e0mmuR3Zce5bpmop
# The Passkey is usually different from the Consumer Secret. 
# For sandbox, it's often: bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_SHORTCODE=174379
MPESA_ENV=sandbox
GOOGLE_MAPS_PLATFORM_KEY=
